/* css font Results page sium */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  font-family: "Inter";
}

/* sezione titolo sottotitolo */
.title {
  margin-bottom: 55px;
}

.titleRes {
  font-size: 60px;
  margin-top: 10px;
  margin-bottom: 0px;
}

#ResultsMain h4 {
  font-size: 1.9rem;
  font-weight: 400;
  margin: 0;
  margin-bottom: 5px;
  display: inline-block;
}

/* css dati delle risposte correct, wrong */

.dati div {
  display: inline-block;
  vertical-align: middle;
}

/* titolo dei dati */
.dati h1 {
  font-weight: 400;
  margin-block: -9px;
}

/* dati in percentuale in grassetto */
.dati .percent {
  font-family: "Outfit";
  font-weight: 700;
}

/* conteiner di gruppo correct e wrong */
.Correct {
  text-align: left;
  width: 200px;
  margin-right: 130px;
}

.Wrong {
  text-align: right;
  width: 200px;
  margin-left: 130px;
}

.Correct figcaption,
.Wrong figcaption {
  font-family: "Outfit";
  margin-top: 5px;
  font-size: 1.4em;
  font-weight: 200;
}

/* sezione grafico a ciambella e testo all'interno */
#textIntoG {
  width: 240px;
  height: 160px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

#textIntoG h5 {
  font-size: 1.2rem;
  margin: 0;
  margin-bottom: 5px;
}

#textIntoG div {
  margin-inline: 0;
  margin-bottom: 1.2em;
}

#textIntoG span {
  color: #00ffff;
}

#textIntoG p {
  margin: 0;
  padding-inline: 5px;
}

/* grafico  */

#grafico {
  width: 390px;
  height: 390px;
  /* background: conic-gradient(#d20094 120deg, #00ffff 120deg 360deg); */
  border-radius: 50%;
  position: relative;
  box-shadow: 0px 0px 25px 7px #00000087;
}

#grafico::before {
  content: "";
  width: 280px;
  height: 280px;

  /* trasparenza simulata */
  background-image: url(./img/bg.jpg);
  background-position: center;

  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: inset 0px 0px 25px 7px #00000087;
}

/* button rate us */
#buttonConteiner {
  margin-top: 60px;
}

#rateUs {
  font-size: 1.3rem;
  font-weight: 600;
  background: none;
  border: 2px solid white;
  padding-inline: 3em;
  padding-block: 0.8em;
  /* box-shadow: 0px 0px 20px 0px #00ffff78; */
  cursor: pointer;
}

#rateUs:hover {
  background-color: #07ffff;
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
}

#rateUs:hover {
  transition: 500ms;
  box-shadow: 0px 0px 50px 0px #00ffff78;
  cursor: pointer;
}

#rateUs:active {
  transition: 200ms;
  font-size: 1.3rem;
  font-weight: 800;
  border: 2px solid #00ffff78;
  padding-inline: 3em;
  padding-block: 0.8em;
  box-shadow: inset 0px 0px 20px 0px #00ffff78;
  /* box-shadow: 0px 0px 0px 0px #00ffff78; */
}
