/* css Results page */

/* css titolo e sottotitolo */

.title {
  margin-bottom: 80px;
}

.titleRes {
  font-size: 4rem;
  margin-top: 10px;
  margin-bottom: 0px;
}

#ResultsMain h4 {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
  margin-bottom: 5px;
  display: inline-block;
}

/* css datti risposte correct wrong */
.dati {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 0;
  bottom: 0;
  margin: auto;
  /* css dati delle risposte correct, wrong */
}
.dati div {
  display: inline-block;
  vertical-align: middle;
}

/* titolo dei dati */
.dati h1 {
  font-weight: 400;
  margin: -9px;
}

/* dati in percentuale in grassetto */
.dati span {
  font-weight: 700;
}

.Correct {
  text-align: left;
  margin-inline: 5rem;
  margin-block: 3rem;
  width: 200px;
  margin-right: 130px;
}

.Wrong {
  text-align: right;
  width: 200px;
  margin-left: 130px;
}

.Correct figcaption,
.Wrong figcaption {
  font-size: 1.4em;
  font-weight: 200;
}

.Wrong {
  text-align: right;
  margin-inline: 5rem;
  margin-block: 3rem;
}

/* css text con grafico a donut */
#textIntoG {
  width: 240px;
  height: 160px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

#textIntoG h5 {
  font-size: 1rem;
  margin: 0;
  margin-bottom: 5px;
}

#textIntoG span {
  color: #00ffff;
}

/* grafico */
#myChart {
  height: 400px;
  width: 400px;
  border: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* button rate us */
#buttonConteiner {
  margin-top: 100px;
  /* position: absolute;
    left: 0;
    right: 0;
    top: 80%;
    bottom: 0;
    margin: auto; */
}

#rateUs {
  font-size: 1.3rem;
  font-weight: 600;
  background: none;
  border: 2px solid white;
  padding-inline: 3em;
  padding-block: 0.8em;
  box-shadow: 0px 0px 20px 0px #00ffff78;
}

#rateUs:active {
  transition: 200ms;
  font-size: 1.3rem;
  font-weight: 800;
  /* background: rgb(240, 240, 240); */
  border: 2px solid #00ffff78;
  padding-inline: 3em;
  padding-block: 0.8em;
  box-shadow: inset 0px 0px 20px 0px #00ffff78;
  /* box-shadow: 0px 0px 0px 0px #00ffff78; */
}

#spazio {
  min-width: 1000px;
  max-width: 1300px;
  margin: auto;
}
