body {
  height: 90vh;
  width: 99%;
  background-image: url(./img/bg.jpg);
  background-size: cover;
  box-sizing: border-box;
}
#center {
  text-align: center;
}
#logo {
  width: 15rem;
  height: auto;
  margin-left: 11rem;
  margin-top: 3rem;
}

#h1gabriele {
  font-size: 60px;
  color: #edeaf0;
  margin-top: 10rem;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
.star-widget input {
  display: none;
}

.star-widget label {
  font-size: 60px;
  color: #0b113b;
  padding: 10px;
  transition: all 0.2s ease;
}

input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label {
  color: #00ffff;
}

input:checked ~ label {
  color: #00ffff;
}

input#rate-10:checked ~ label {
  color: #00ffff;
  text-shadow: 0 0 20px#2972A2;
}

#pgabriele {
  color: #edeaf0;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

#text {
  height: auto;
  width: 58rem;
  margin-top: 1rem;
  background: transparent;
  outline: none;
  color: #edeaf0;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid #d20094;
  padding-left: 2rem;
  padding-bottom: 1rem;
}
#buttongabriele {
  width: 16rem;
  height: 4.5rem;
  margin-top: 4rem;
  background-color: #00ffff;
  font-size: 2rem;
  /* box-shadow: 10px 0px 50px #00ffff; */
}
#buttongabriele:hover {
  filter: drop-shadow(1px 1px 20px #00ffff);
}
