@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
  color: white;
  box-sizing: border-box;
}
body {
  max-width: 1440px;
  background-image: url(./img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 5% 10%;
  font-family: "Outfit", sans-serif;
  height: 100vh;
  cursor: default;
}

body::-webkit-scrollbar {
  display: none;
}

header {
  width: 15%;
  min-width: 100px;
}

/* logo Epicode */

header img {
  width: 100%;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.h1-jack {
  color: white;
  font-size: 60px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 5%;
}

@media only screen and (max-width: 767px) {
  .h1-jack {
    font-size: 2rem;
    margin-bottom: 20%;
  }
}

.footer-jack {
  text-transform: uppercase;
  color: white;
}

/* zona risposte */

#box-risposte {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 70%;
  height: 25%;
  gap: 15px;
  margin-bottom: 5%;
}

.risposte {
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 2px solid transparent;
  background-clip: padding-box;
  position: relative;
  margin-inline: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
  text-align: center;
  transition: background-color 0.3s, border-image 0.3s;
  background-origin: border-box;
  background-image: linear-gradient(to top, #0b103b00, #ffffff);
  padding: 2px;
}

.risposte button {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-image: linear-gradient(to right, #0b103b, #6f2873);
  color: white;
  padding: 5px;
  cursor: pointer;
}

.risposte:hover {
  background-image: linear-gradient(to top, #b7018c, #ffffff);
}

.risposte button:hover {
  background-image: linear-gradient(to bottom, #7a005d, #b7018c);
}

@media only screen and (max-width: 767px) {
  .risposte {
    margin-inline: 5px;
  }

  #box-risposte {
    width: 100%;
    grid-template-columns: 1fr;
    height: 50vh;
  }
}

.violet {
  color: #c4008f;
}

/* css Results page */

/* css titolo e sottotitolo */

.title {
  margin-bottom: 80px;
}

.titleRes {
  font-size: 4rem;
  margin-top: 10px;
  margin-bottom: 0px;
}

#ResultsMain h4 {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
  margin-bottom: 5px;
  display: inline-block;
}

/* css datti risposte correct wrong */
.dati {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 0;
  bottom: 0;
  margin: auto;
}

/* titolo dei dati */
.dati h1 {
  font-weight: 400;
  margin: -9px;
}

/* dati in percentuale in grassetto */
.dati span {
  font-weight: 700;
}

.Correct {
  text-align: left;
  margin-inline: 5rem;
  margin-block: 3rem;
}

.Correct figcaption,
.Wrong figcaption {
  font-size: 1.4em;
  font-weight: 200;
}

.Wrong {
  text-align: right;
  margin-inline: 5rem;
  margin-block: 3rem;
}

/* css text con grafico a donut */
#textIntoG {
  width: 240px;
  height: 160px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

#textIntoG h5 {
  font-size: 1rem;
  margin: 0;
  margin-bottom: 5px;
}

#textIntoG span {
  color: #00ffff;
}

/* grafico */
#myChart {
  height: 400px;
  width: 400px;
  border: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* button rate us */
#buttonConteiner {
  margin-top: 100px;
  /* position: absolute;
  left: 0;
  right: 0;
  top: 80%;
  bottom: 0;
  margin: auto; */
}

#rateUs {
  font-size: 1.3rem;
  font-weight: 600;
  background: none;
  border: 2px solid white;
  padding-inline: 3em;
  padding-block: 0.8em;
  box-shadow: 0px 0px 20px 0px #00ffff78;
}

#rateUs:active {
  transition: 200ms;
  font-size: 1.3rem;
  font-weight: 800;
  /* background: rgb(240, 240, 240); */
  border: 2px solid #00ffff78;
  padding-inline: 3em;
  padding-block: 0.8em;
  box-shadow: inset 0px 0px 20px 0px #00ffff78;
  /* box-shadow: 0px 0px 0px 0px #00ffff78; */
}
