* {
  color: white;
}
.timersection {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* 
#conic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  box-shadow: 0px 0px 25px 7px #00000087;
} */
/* background-image: conic-gradient(from 360deg at 50% 50%, #e7ecf4ff 10%, #073aff00 10%), radial-gradient(75% 75% at 50% 50%, #00ffffff 0%, #00ffffff 100%); */

/* #conic::before {
  content: "";
  width: 120px;
  height: 120px;
  background-color: #703090;

  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: inset 0px 0px 25px 7px #00000087;
} */

@media only screen and (max-width: 767px) {
  #conic {
    width: 90px;
    height: 90px;
  }
  #conic::before {
    content: "";
    width: 72px;
    height: 72px;
    /* trasparenza simulata */
    background-color: #703090;

    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: inset 0px 0px 25px 7px #00000087;
  }
}

#timerConteiner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
}

#timerConteiner h3 {
  font-size: 30px;
  margin: 0;
}

#timerConteiner p {
  font-weight: 600;
  font-size: 0.8rem;
  margin: 0;
}

@media only screen and (max-width: 767px) {
  #timerConteiner p {
    font-size: 0.4rem;
    margin: 0;
  }
}

/* MODIFICHE___________________________________________ */

#conic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  box-shadow: 0px 0px 14px 0px #00000087;
  background-color: transparent; /* Rendi trasparente l'area principale del timer */
}

#conic::before {
  content: "";
  width: 120px;
  height: 120px;
  background-color: rgba(255, 255, 255, 0.1); /* Trasparenza maggiore, in modo che il background si veda */
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: inset 0px 0px 25px 7px rgba(0, 0, 0, 0.5); /* Ombra interna trasparente */
}

@media only screen and (max-width: 767px) {
  #conic {
    width: 90px;
    height: 90px;
  }
  #conic::before {
    width: 72px;
    height: 72px;
    background-color: rgba(255, 255, 255, 0.1); /* Trasparenza maggiore su dispositivi mobili */
  }
}

#conic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  background: conic-gradient(#00aaff 0%, #00aaff 100%); /* Cerchio fisso azzurro */
  box-shadow: 0px 0px 12px 0px #00000087;
}

#conic::before {
  content: "";
  width: 120px;
  height: 120px;
  background-color: #6c2873; /* Colore del centro del cerchio */
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
}
