@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  color: white;
  box-sizing: border-box;
}
body {
  max-width: 1440px;
  background-image: url(./img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Outfit", sans-serif;
  cursor: default;
  margin: auto;
  height: 100vh;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
}

body::-webkit-scrollbar {
  display: none;
}

header {
  width: 100%;
  height: 20%;
}

header img {
  height: 40px;
}

.logoepicode > img {
  width: 10%;
  height: auto;
  padding-top: 2rem;
}

.h1luigi {
  margin-bottom: 10px;
  font-family: "outfit", sans-serif;
  font-size: 80px;
  font-weight: 400;
  margin-right: 70%;
  line-height: 0.7;
}

.h2luigi {
  color: #d20094;
  margin-bottom: 0;
  margin-top: 3rem;
}

.h1luigi > span {
  font-weight: 700;
}

.checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
.button-luigi {
  background-color: #00ffff;
  margin-left: 50%;
  font-weight: 700;
  box-shadow: 0 0 10px #00ffff;
  border: 0;
  box-shadow: 0 0 5px #00ffff;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 20px;
  color: black;
}

/*.button-luigi:active {
  background-color: #00ffff;
  margin-left: 50%;
  font-weight: 700;
  box-shadow: 0 0 30px #00ffff;
  border: 0;
  transition: 1, 3s;
  font-size: 20px;
}*/

.illuminated {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.8), 0 0 20px rgba(0, 255, 255, 0.6), 0 0 30px rgba(0, 255, 255, 0.4);
}

ul {
  padding-left: 20px;
  margin-top: 2%;
  margin-bottom: 5%;
  line-height: 1.6em;
}

.pluigi {
  margin-top: 0;
  margin-right: 60%;
}
label {
  font-weight: bold;
  font-size: small;
  margin-left: 0.3rem;
  position: relative;
}
#promise {
  width: 18px;
  height: 18px;
  appearance: none;
  background-color: transparent;
  border: solid 1px white;
  cursor: pointer;
  margin-right: 10px;
}

#promise:checked {
  background-color: rgba(0, 255, 255, 0.2);
}

#promise:checked::after {
  content: "✔";
  font-size: 18px;
  color: #ffffff;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hidden {
  display: none;
}

.checkboxLuigi {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 26%;
}
